{% extends 'expedientes_base.html' %}

{% block content %}

<br>
<h1>Listado de expedientes</h1>

<div class="btn-toolbar float-end">
    <div class="btn-group mr-2">
        <input class="form-control" id="filterExpediente" type="text" placeholder="Buscar..">    
    </div>
    <div class="btn-group mr-2">
        <button type="button" class="float-end btn" style="background-color: #BFACE2" onclick="location.href='/expedientes/expediente_new'"><i class="bi-file-earmark-plus"></i> Agregar</button>
    </div>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col" class="col-2">Fecha Carga</th>
            <th scope="col" class="col-2">Fecha Intervención</th>
            <th scope="col" class="col-2">Expediente</th>
            <th scope="col" class="col-2">Persona</th>
            <th scope="col" class="col-3">Acciones</th>
        </tr>
    </thead>
    <tbody id="listExpediente">
        {% for expedientes in expediente_list %}
        <tr>
            <td>{{expedientes.fecha_carga | date:"d/F/Y"}}</td>
            <td>{{expedientes.fecha_intervencion | date:"d/m/Y"}}</td>
            <td>{{expedientes.numero_interno}} ({{expedientes.numero_expediente}})</td>
            <td>{{expedientes.persona.apellido}}, {{expedientes.persona.nombre}}</td>
            <td>
                <a href="{% url 'expediente_edit' expedientes.id %}" class="btn" style="background-color: #E3DFFD" role="button" aria-pressed="true"><i class="bi-pencil"></i> Editar</a>
                <a href="{% url 'expediente_delete' expedientes.id %}" class="btn" style="background-color: #EB455F" role="button" aria-pressed="true"><i class="bi-trash"></i> Eliminar</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    {% include 'paginator.html' %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>
    $(document).ready(function(){
      $("#filterExpediente").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#listExpediente tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
    </script>

{% include 'alerts.html' %}

{% endblock %}