{% extends 'expedientes_base.html' %}

{% load static %}

{% block content %}

<br>
<h1>Cargar nuevo expediente</h1>

<div class="card" style="width: 100%;">
  <img src="{% static 'images/expediente.jpg' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Agregar expediente</h5>
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <div class="row">
          <div class="col-6">
            <label class="form-label">Fecha de carga</label>
            {{ form.fecha_carga }}
          </div>
          <div class="col-6">
            <label class="form-label">Fecha de intervención</label>
            {{ form.fecha_intervencion }}
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <label class="form-label">Expediente</label>
            {{ form.numero_expediente }}
          </div>
          <div class="col-2">
            <label class="form-label">Caratula</label>
            {{ form.numero_interno }}
          </div>
          <div class="col-7">
            <label class="form-label">Persona</label>
            {{ form.persona }}
          </div>
        </div>
      </div>
      <button class="btn float-end" style="background-color: #BFACE2">Guardar</button>
    </form>
    <button class="btn float-end" style="background-color: #EEEEEE" onclick="location.href='/expedientes/expediente_list'">Volver</button>
  </div>
</div>

{% endblock %}