{% extends 'expedientes_base.html' %}

{% load static %}

{% block content %}

<br>
<h1>Listado de personas</h1>

<div class="btn-toolbar float-end">
    <div class="btn-group mr-2">
        {% if perms.expediente.create_persona %}
        <button type="button" class="float-end btn" style="background-color: #BFACE2"
            onclick="location.href='/expedientes/persona_new'"><i class="bi-file-earmark-plus"></i> Agregar</button>
        {% else %}
        <a class="btn" disabled style="background-color: #F3E8FF; cursor:not-allowed" role="button"
            aria-pressed="true"><i class="bi-file-earmark-plus"></i> Agregar</a>
        {% endif %}
    </div>
</div>
<table class="table table-hover" id="tablaPersona">
</table>


<link rel="stylesheet" href="{% static 'style/css/dataTables.bootstrap5.min.css' %}">
<script src="{% static 'style/js/jquery-3.6.4.js' %}"></script>
<script src="{% static 'style/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'style/js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $(document).ready(function() {
    $('#tablaPersona').DataTable({
        "processing": true,
        "serverSide": true,
        "searching": true,
        "paging": true,
        "ajax": {
            "url": '{% url 'persona_list' %}',
            "type": 'POST',
            "headers": {'X-CSRFToken': '{{ csrf_token }}'},
        },
        "columns":[
            { data: "apellido", name: "apellido", title: "Apellido"},
            { data: "nombre", name: "nombre", title: "Nombre"},
            { data: "dni", name: "dni", title: "Dni"},
            { data: "acciones", name: "acciones", title: "acciones", orderable: false, searchable: false }
        ],
        "order":[[0,"asc"]],
        })
    });
;
</script>

{% include 'alerts.html' %}

{% endblock %}