{% extends 'expedientes_base.html' %}

{% load static %}

{% block content %}

<br>
<h1>Listado de personas
    <div class="btn-toolbar float-end">
        <div class="btn-group mr-2">
            {% if perms.expediente.create_persona %}
            <button type="button" class="btn" style="background-color: #BFACE2"
                onclick="location.href='/expedientes/persona_new'"><i class="bi-file-earmark-plus"></i> Agregar</button>
            {% else %}
            <a class="btn" disabled style="background-color: #F3E8FF; cursor:not-allowed" role="button"
                aria-pressed="true"><i class="bi-file-earmark-plus"></i> Agregar</a>
            {% endif %}
        </div>
    </div>
</h1>
<br>



<table class="table table-hover" id="tablaPersona" width="100%">
</table>


<link rel="stylesheet" href="{% static 'style/css/dataTables.bootstrap5.min.css' %}">
<script src="{% static 'style/js/jquery-3.6.4.js' %}"></script>
<script src="{% static 'style/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'style/js/dataTables.bootstrap5.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#tablaPersona').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": true,
            "paging": true,
            "ajax": {
                "url": '{% url 'persona_list' %}',
                "type": 'POST',
                "headers": { 'X-CSRFToken': '{{ csrf_token }}' },
            },
            "columns": [
                { data: "apellido", name: "apellido", title: "Apellido"},
                { data: "nombre", name: "nombre", title: "Nombre"},
                { data: "dni", name: "dni", title: "Dni", orderable: false, searchable: false},
                { data: "edad", name: "edad", title: "Edad", orderable: false, searchable: false},
                { data: "barrio", name: "barrio", title: "Barrio", orderable: false, searchable: false},
                { data: "acciones", name: "acciones", title: "Acciones", orderable: false, searchable: false}
            ],
            "columnDefs": [
            { width: '20%', targets: 0 },
            { width: '20%', targets: 1 },
            { width: '10%', targets: 2 },
            { width: '10%', targets: 3 },
            { width: '20%', targets: 4 },
            { width: '20%', targets: 5 }
            ],
            "order": [[0, "asc"]],
            "language": {
                "lengthMenu": "Resultados _MENU_",
                "zeroRecords": "No existen resultados",
                "info": "Página _PAGE_ de _PAGES_",
                "infoEmpty": "No hay registros",
                "infoFiltered": "(filtrado de _MAX_ registros)",
                "search": "Buscar:",
                "paginate": {
                    "first": "1",
                    "last": "_PAGES_",
                    "next": ">",
                    "previous": "<"
                }
            }
        })
    });
    ;
</script>

{% include 'alerts.html' %}

{% endblock %}